
main{
    background-color: var(--bg_body);
}

body{
    min-height: 100vh;
}

#search-form{
    margin-top: 20px;
    border: 1px solid var(--lines-color);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px var(--lines-color);
    flex-wrap: wrap;
}


ion-icon[name="search-outline"]{
    padding: 0 10px;
}
#search-form input{
    height: 100%;
    width: 100%;
}

#search-result{
    margin-top: 15px;
}

.filter-item{
    border-left: 1px solid #dcdcdc;
    padding: 5px 10px;
}


.filter-item label{
    font-size: 0.7rem;
    padding-left: 5px;
}

.filter-item select{
    font-weight: 500;
    min-width: 0px;
}


.filter-item select:focus-visible{
    outline: none;
}


#search-bar{
    width: 70%;
}

@media screen and (max-width:860px) {
    #search-bar{
        width: 40%;
    }
}


@media screen and (max-width:620px) {
    #search-bar{
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid #dcdcdc;
    }
    .filter-item:first-child{
        border: none;
    }
}