


body{
    min-height: 100vh;
}



main{
    background-color: var(--bg_body);
}

#search-form{
    margin-top: 20px;
    border: 1px solid var(--lines-color);
    background-color: var(--bg_default);
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px var(--lines-color);
}

#search-form *{
    background-color: var(--bg_default);
}

ion-icon[name="search-outline"]{
    padding: 0 10px;
}


#search-result{
    margin-top: 20px;
    margin-bottom: 30px;
}

.filter-item{
    border-left: 1px solid var(--lines-color);
    padding: 5px 10px;
}


.filter-item label{
    font-size: 0.7rem;
    padding-left: 5px;
}

.filter-item select{
    font-weight: 500;
}


@media screen and (max-width:860px) {
    #search-bar{
        width: 40%;
    }
}


@media screen and (max-width:620px) {
    #search-bar{
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid var(--lines-color);
    }
    .filter-item:first-child{
        border: none;
    }
}

@media screen and (min-width: 1920px) {
    .main-container{
        max-width: 1440px;
    }
}